<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.helpmecook" >

    <permission
        android:name="br.com.helpmecook.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="br.com.helpmecook.permission.MAPS_RECEIVE"/>

    <user-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <application
        android:name=".view.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCJ4wSbx5wL3GAcFThM7xXnMAi_D672Tg4"/>

        <activity
            android:name=".view.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.RecipeActivity"
            android:label="@string/title_activity_recipe"
            android:parentActivityName=".view.activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.activity.MainActivity" />
        </activity>
        <activity
            android:name=".view.activity.NameSearchResultsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_name_search_results" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.helpmecook.view.activity.MainActivity" />
        </activity>
        <activity
            android:name=".view.activity.RecipeRegisterActivity"
            android:label="@string/title_activity_recipe_register"
            android:parentActivityName=".view.activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.helpmecook.view.activity.MainActivity" />
        </activity>
        <activity
            android:name=".view.activity.IngredientSelectionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_ingredient_selection"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".view.activity.IngredientSearchResultActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_ingredient_search_result" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.helpmecook.view.activity.MainActivity" />
            />
        </activity>
    </application>

</manifest>
